@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary: #1f2937;
    --secondary: #e5e7eb;
    --btn: #3882f6;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
   
}
.btn{
    background-color: var(--btn);
    border: none;
    border: 2px solid var(--btn);
    text-transform: uppercase;
    padding: 12px 20px;
    transition: color 0.4s linear;
    min-width: 200px;
    cursor: pointer;
    position: relative;
}
.btn:hover{
    color: white;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--btn);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier();
}
.btn::before{
    transform: scaleX(0);
}
.btn:hover:before{
    transform: scaleX(1);
}
/* head */
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    padding: 5px 0px;
    background-color: var(--primary);
}
.navbar{
    color: var(--secondary);
    display: flex;
    justify-content: space-between;
}
.navbar .logo{
    font-size: 24px;
}
.logo h1{
    color: var(--secondary);
}
.menu{
    display: flex;
    align-items: center;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li a{
    margin-right: 50px;
    font-size: 18px;
    color: var(--secondary);
}
.menu ul li a:hover{
    color: var(--btn);
    letter-spacing: 0.1rem;
}
/* contact area */  
.contact-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
}
  
.left-col {
    width: 45vw;
    height: 100%;
    background-image: url("../images/conor-luddy-IVaKksEZmZA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
  
.logo {
    width: 10rem;
    padding: 1.5rem;
}
  
.right-col {
    background: var(--bg-color);
    width: 50vw;
    height: 100vh;
    padding: 5rem 3.5rem;
}
  
 label, button, .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
  
.right-col h1 {
    color:var(--primary);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}
  
p {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
}
  
label, .description {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 0.625rem;
}
  
form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
}
  
input, textarea, label {
    width: 40vw;
    display: block;
}
.right-col p{
    color: var(--primary);
}
placeholder, input, textarea {
   font-weight: 300;
   color: var(--primary);
}
  
input::placeholder, textarea::placeholder {
    color: var(--secondary);
}
  
input, textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--primary);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
}
  
textarea {
    resize: none;
}
input:hover, textarea:hover{
    opacity: 0.5;
}
  
button:active {
    opacity: 0.8;
}

.description {
    margin-left: 1.25rem;
}
  
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
  
.theme-switch input {
    display:none;
}
  
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--btn);
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  
#error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--primary);
}
#success-msg {
    transition-delay: 3s;
}
/* footer */
.footer{
    padding: 20px 0px;
    background-color: var(--primary);
}
.f_text a, p{
    color: var(--secondary);
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .menu{
      display: none;
    }
    .contact-container{
       flex-direction: column;
    }

   form{
    width: auto;
   }
}