@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('../css/style.css');


/* contact area */  

header{
    padding: 10px 0px !important;
}
.contact-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
}
  
.left-col {
    width: 45vw;
    height: 100%;
    background-image: url("../images/conor-luddy-IVaKksEZmZA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.right-col {
    background: var(--bg-color);
    width: 50vw;
    height: 100vh;
    padding: 5rem 3.5rem;
}
.right-col h1{
    font-weight: normal !important;
}
.right-col p{
    text-align: left;
}
  
 label, button, .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
  
.right-col h1 {
    color:var(--primary);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}
  
p {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
}
  
label, .description {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 0.625rem;
}
  
form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
}
  
input, textarea, label {
    width: 40vw;
    display: block;
}
.right-col p{
    color: var(--primary);
}
placeholder, input, textarea {
   font-weight: 300;
   color: var(--primary);
}
  
input::placeholder, textarea::placeholder {
    color: var(--secondary);
}
  
input, textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--primary);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
}
  
textarea {
    resize: none;
}
input:hover, textarea:hover{
    opacity: 0.5;
}
  
button:active {
    opacity: 0.8;
}

.description {
    margin-left: 1.25rem;
}
  
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
  
.theme-switch input {
    display:none;
}
  
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--btn);
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  
#error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--primary);
}
#success-msg {
    transition-delay: 3s;
}
/* footer */
.footer{
    padding: 20px 0px;
    background-color: var(--primary);
}
.f_text a, p{
    color: var(--secondary);
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .right-col h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .menu{
      display: none;
    }
    .contact-container{
       flex-direction: column;
    }

   form{
    width: auto;
   }
}