@media  (max-width: 575.98px) {
    .main {
        padding: 0px 0px;
    }
    .main .hero_left {
        float: none;
        width: 100%;
        text-align: center;
    }
    .hero_right img {
        margin-top: 20px;
    }
    .main .hero_right{
        float: none;
        width: 100%;
    }
    .details{
        display: none;
    }
    .Product_title {
        font-size: 22px;
        padding-bottom: 29px;
    }
    .content{
        margin-bottom: 20px;
    }
    .news_content{
        flex-direction: column;
    }
    .news_text{
        width: 150% !important;
        margin-bottom: 20px;
        text-align: center;
    }
    .news_text h3{
        font-size: 22px;
    }
    .text_btm ul{
        list-style: none;
        padding: 0px;
    }
    .quote blockquote {
        margin: 0px;
        font-size: 16px;
    }
    .quote figcaption {
        font-size: 18px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .main .hero_left {
        margin-top: 0px;
    }
    .hero_left h1{
        font-size: 22px;
    }
    .hero_left p{
        font-size: 16px;
    }
    .hero_right .details {
        width: 75%;
        height: 85%;
        padding: 4% 7%;
    }
    .details h1{
        font-size: 28px;
    }
    .details p{
        margin: 12px 0px;
        font-size: 16px;
    }
    .content {
        margin-right: 0px;
        margin-bottom: 24px;
    }
    .news_text{
        width: 55%;
    }
    .news_text h3 {
        font-size: 20px;
    }
    .news_text h4{
        font-size: 16px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main .hero_left {
        margin-top: 3px;
    }
}

/*Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
   
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px){

}