@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none !important;
    transition: all 0.4s ease !important;
    -webkit-transition: all 0.4s ease !important;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary: #1f2937;
    --secondary: #e5e7eb;
    --btn: #3882f6;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
   
}
.btn1{
    background-color: var(--btn);
    border: none;
    border: 2px solid var(--btn);
    text-transform: uppercase;
    padding: 12px 20px;
    transition: color 0.4s linear;
    min-width: 200px;
    cursor: pointer;
    position: relative;
}
.btn1:hover{
    color: white;
}
.btn1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--btn);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier();
}
.btn1::before{
    transform: scaleX(0);
}
.btn1:hover:before{
    transform: scaleX(1);
}
/* Header */

.container{
    width: 80%;
    margin: 0 auto;
}
header{
    padding: 20px 0px;
    background-color: var(--primary);
}
.navbar{
    color: var(--secondary);
    display: flex;
    justify-content: space-between;
}
.navbar .logo{
    font-size: 24px;
}
.logo{
   color: var(--secondary);
}
.menu{
    display: flex;
    align-items: center;
}
.menu ul {
    display: flex;
    list-style: none;
}

.link {
    position: relative;
    margin-right: 50px;
    font-size: 18px;
    padding: 4px 0px !important;
    color: var(--secondary) !important;
}
.link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 2px;
    background: #f7f7f7;
   transition: all .4s ease-in-out;
}
  
.link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0%;
    height: 2px;
    background: #f7f7f7;
    transition: all .4s ease-in-out;
}
.link:hover::before, .link:hover::after {
    color: var(--btn);
    width: 100%;
    left: 0;
}


/* main */
main{
    background-color: var(--primary);
}
.main{
    padding: 80px 0px;
    color: var(--secondary);
    overflow: hidden;
}
.main .hero_left{
    float: left;
    width: 40%;
    margin-top: 120px;
}
.main .hero_right{
    float: right;
    width: 50%;
}
.hero_left p{
    margin: 20px 0px;
    color: rgba(229, 231, 235, 0.51);
    text-align: inherit;
}
.hero_right img{
    width: 100%;
    text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px;
}
.details h1{
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}
.details h1 span{
    color: hsla(0, 81%, 51%, 0.85);
}
.details p{
    text-align: left;
    margin: 30px 0px;
    font-size: 18px;
}
.hero_right .details {
	width: 70%;
	height: 70%;	
	padding: 5% 8%;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(93, 98, 100, 0.95);	
    color: var(--primary);
	opacity: 0;
	transition: all 0.4s ease-in;
	
}
.hero_right:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}
/* product section */

.product{
    padding: 50px 0px;
}
.Product_title{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: var(--primary);
    padding-bottom: 50px;
}
.item{
    padding: 35px 0px;
}
.content{
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 19px 30px;
    text-align: left;
    margin-right: 15px;
    background-color: #c5c7c7;
    cursor: pointer;
}
.content:hover{
    -webkit-transform: scale(0.9);
	-moz-transform:scale(0.9);
    transform: scale3d(0.9);
}
.content img{
    width: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.content:hover img{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}
.text{
    color: var(--primary);
}
.text h1{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
.text_btm{
    text-align: left;
}
.text_btm ul li:hover{
    transform: translateX(20px);
    color: #3882f6;
}
/* queto */
.testimonial{
    padding: 50px 0px;
    background-color: var(--secondary);
}
.quote {
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
    line-height: 40px;
    overflow: hidden;
}
.quote figcaption,
.quote blockquote {
    margin: 1em;
    text-transform: none;
}
.quote figcaption{
    float: right;
}
.star{
    font-size: 18px;
    margin-left: 25px;
    cursor: pointer;
    color: var(--primary);
}
/* newsletter */

.newsletter{
    padding: 100px 0px;
}
.news_content{
    margin: 0 auto;
    padding: 5em;
    background-color: var(--btn);
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var();
}
.news_text h3{
    color: var(--secondary);
    font-size: 26px;
    margin-bottom: 10px;
}
.news_text h4{
    font-size: 18px;
    color: rgba(229, 231, 235, 0.51);
    font-weight: 300;
}
.n_btn{
    border: 2px solid var(--secondary) !important;
}
/* footer */
.footer{
    padding: 30px 0px;
    background-color: var(--primary);
}
.f_text a, p{
    text-align: center;
    color: var(--secondary);
}